/*========== CONNECT FONTS ==========*/

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

/*========== VARIABLES ==========*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --transparent-white20: rgba(255,255,255,0.2);
  --basic-red: #E84D37;
  --special-red: #D07058;
  --dark-gray: #323232;
  --neutral-gray: #ABABAB;
  --transparent-gray: rgba(178,178,178,0.52);
  --transparent-gray30: rgba(178,178,178,0.3);
  --special-beige: #f1e6d4;
  --special-green: #849D8F;
  --special-violett: #8996A6;
  --special-brown: #9D8B84;
  --special-pink: #FBDED7;
  --special-darkpink: #D07058;
  --special-lightpink: #FFBC9E;
  --special-maroon: #a3001b;
  --special_chocolate: #643e31;
  --popup-input-border: #d3d3d2;
  --popup-window: #F8F7F4;
  --popup-input-txt:#999999;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


.page-body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  min-width: 768px;
  position: relative;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.site-wrapper {

  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
}

.site-wrapper-1 {
  background-color: var(--special-green);
  background-image: url("../img/slide_1.png");
}

.site-wrapper-2 {
  background-color: var(--special-violett);
  background-image: url("../img/slide_2.png");
}

.site-wrapper-3 {
  background-color: var(--special-brown);
  background-image: url("../img/slide_3.png");
}

.container {
  max-width: 1200px;
  min-width: 768px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.main-header {
  min-height: 114px;
  padding: 9px 27px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.nav {
 display: flex;
}

.logo-link {
  display: block;
  margin-right: 10px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-list_item {
  padding: 0px 0px 10px 0px;
  /*margin-bottom: 10px;*/

}


.nav-list_item:not(:last-child) {
  margin-right: 4px;
}


/*.nav-list_item:hover,
.nav-list_item:focus {
  background-color: var(--basic-white);
  border-radius: 26px;
}*/

.nav-list_link {
  display: block;
  margin: 6px 14px;
  color: var(--basic-white);
  text-decoration: none;
  border-bottom: 1px solid var(--transparent-white20);

}

.nav-list_item:hover .nav-list_link,
.nav-list_item:focus .nav-list_link {
  color: var(--dark-gray);
  padding: 6px 14px;
  margin: 0;
  background-color: var(--basic-white);
  border-radius: 26px;
}

.nav-list_item-catalog {
  position: relative;
}

.nav-list_link-current {
  margin: 0px;
  padding: 6px 14px;
  background-color: var(--basic-red);
  border-radius: 26px;
}

.dropdown_list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  min-width: 143px;
  top: 37px;
  left: -7px;
  border-radius: 4px;
  background-color: var(--basic-white);
  display: none;
}

.nav-list_item-catalog:hover .dropdown_list,
.nav-list_item-catalog:focus .dropdown_list {
  display: block;
}

.nav-list_link--cat:focus .dropdown_list {
  display: block;
}

.new-prod {
  margin: 0;
  color: var(--dark-gray);
  padding: 10px 0px 14px 22px;
  font-size: 14px;
  border-bottom: 1px solid var(--transparent-gray);
}

.dropdown-list_item:last-child {
  margin-bottom: 5px;
}

.dropdown-list_item:hover,
.dropdown-list_item:focus {
  background-color: var(--special-pink);
}

.dropdown-list_item:active,
.dropdown-list_item--current:hover {
  background-color: var(--special-darkpink);
}

.dropdown-list_item--current {
  background-color: var(--special-darkpink);
}

.dropdown-list:hover {
  display: block;
}

.dropdown_link {
  display: block;
  text-decoration: none;
  color:var(--dark-gray);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 9px 0px 6px 22px;
}

.general-links {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  /*min-width: 244px;*/
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;

}

.search {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: var(--transparent-white20);
  position: relative;
}

.search::before {
  content: "";
  width: 28px;
  height: 28px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 8px;
  top: 8px;
}

.search:hover {
  background-color: var(--basic-white);
}

.search:hover::before {
  background-image: url("../img/search_blk.svg");
}

.cart {
  position: relative;
}

.login-wrapper,
.cart-link {
  min-width: 92px;
  height: 32px;
  border-radius: 20px;
  background-color: var(--transparent-white20);
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: var(--basic-white);
  margin-left: 10px;
}

.login-wrapper_link {
  text-decoration: none;
  color: var(--basic-white);
}

.login-wrapper::before,
.cart-link_empty::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/sign_in.svg");
  background-repeat: no-repeat;
  position: absolute;
  top:6px;
  left: 16px;
}

.cart-link_full::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/cart_red.svg");
  background-repeat: no-repeat;
  position: absolute;
  top:6px;
  left: 16px;
}

.login-wrapper:hover {
  background-color: var(--basic-white);
  color: var(--dark-gray);
}

.login-wrapper:hover > .login-wrapper_link {
  color: var(--dark-gray);
}


.login-wrapper:hover::before {
  background-image: url("../img/sign_inblk.svg");
}

.cart-link_empty {
  min-width: 100px;
}

.cart-link_full {
  min-width: 120px;
  background-color: var(--basic-white);
  color: var(--dark-gray);
}

.cart-link_full:hover {
  background-color: var(--basic-white);
}

.cart:hover > .cart-popup_show {
  display: block;
}


.cart-link_empty::before {
  background-image: url("../img/cart.svg");
}


.general-btn_name {
  display: block;
  padding-left: 45px;
}


.header-worktime {
  font-size: 14px;
  margin: 0 0 7px 0;
  padding: 0;
  text-align: right;
}

.header-phone_link {
  text-decoration: none;
  color: var(--basic-white);
  font-size: 22px;
  font-weight: 700;
}

.header-phone_link:hover {
  color: var(--special-lightpink);
}

.header-phone {
  margin: 0;
  padding: 0;
  text-align: right;
}

.slider {
  position: relative;
  margin-bottom: 41px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-list_item {
  margin-top: 262px;
}

.slider-list_item h3 {
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 60px;
  line-height: 62px;
  padding: 0 245px;
  margin: 0 auto 25px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
  background: linear-gradient(180deg,#f26843 0%,#e74a35 100%);
  box-shadow: 0px 2px 2px 0px rgba(172,16,0,.64);
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160,32,11,.76);
  color: var(--basic-white);
  text-align: center;
  border: none;
  font-size: 18px;
  font-weight: 700;
  height: 44px;
}

.btn-choise {
  width: 261px;
  height: 62px;
  font-size: 32px;
  line-height: 60px;
  margin: 0 auto;
  letter-spacing: .05em;
}

.btn:hover {
  background: linear-gradient(#ff9966 60%, #ff6666 100%);
}

.btn:active {

  background: linear-gradient(#e1623e 60%, #d74531 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(172,16,0,.64);
}

.slider_controls {
  position: absolute;
  width: 79px;
  left: 27px;
  bottom: 23px;
  display: flex;
  justify-content: space-between;
}

.button-slide {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.button-slide:hover {
  background-color: rgba(255,255,255,0.4);
}

.button-slide_current,
.button-slide_current:hover {
  background-color: var(--basic-white);
}

.extra,
.features,
.info {
  padding: 0 27px;
  margin-bottom: 40px;
}

.extra-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}

.extra-list_item {
  /*width: 560px;*/
  min-height: 229px;
  border-radius: 16px;
  padding: 14px 21px 5px 17px;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.bonus-1 {
  background-image: url("../img/malina_bcg.jpg");
  background-color: var(--special-maroon);
}

.bonus-2 {
  background-image: url("../img/chocolate_bcg.jpg");
  background-color: var(--special_chocolate);
}

.extra {
  margin-bottom: 40px;
}

.extra-list_titel {
  font-size: 35px;
  margin: 0 0 18px 0;
}

.extra-list_description {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 43px 0;
}

.btn-extra {
  border: none;
  height: 48px;
  margin-left: auto;

  padding: 0px 24px;
}

.bestsellers {
  padding:0 27px;
  margin-bottom: 42px;
}

.bestsellers-list,
.product-cards_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
  row-gap:37px
}

.bestsellers-list_description--link,
.product-cards_description-link {
  text-decoration: none;
  color: var(--basic-white);
  position: relative;
  z-index: 300;
  border-bottom: 1px solid var(--transparent-white20);
}

.bestsellers-list_description--link:hover,
.product-cards_description-link:hover,
.aboutus_link:hover,
.copyright_link:hover {
  color: var(--special-lightpink);
  border-bottom: 1px solid var(--special-lightpink);
}

.bestsellers-list_description--link:active,
.product-cards_description-link:active,
.aboutus_link:active {
  color: var(--special-lightpink);
  border-bottom: 1px solid var(--special-lightpink);
}

.bestsellers-list_item,
.product-cards_item {
  box-sizing: border-box;
  position: relative;

}

.bestsellers-list_img,
.product-cards_img {
  position: relative;
  z-index: 200;
}

.bestsellers-list_item::before {
  content: "";
  width: 61px;
  height: 61px;
  border-radius: 100%;
  background-color: var(--basic-white);
  background-image: url("../img/HIT.svg");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left:0px;
  z-index: 201;
}
.bestsellers-list_item-card,
.product-cards_item-card {
  position: absolute;
  width: 293px;
  height: 402px;
  border-radius: 4px;
  background-color: var(--transparent-white20);
  top:-6px;
  left: -13px;
  display: none;
  align-items: flex-end;
  justify-content: center;
}

.bestsellers-list_item:hover .bestsellers-list_item-card,
.product-cards_item:hover .product-cards_item-card {
  display: flex;
  z-index:250;
}

.product-cards_item:hover .product-cards_img {
  z-index: 300;
}

.bestsellers-btn {
  width: 200px;
  margin:0 auto 20px auto;
  z-index: 300;
}


.bestsellers-list_item--price,
.product-cards_item-price {
  font-size: 45px;
  margin: -67px 0 28px 0;
  padding: 0;
  color: var(--basic-white);
  position: relative;
  z-index: 300;
  text-shadow: 0px 2px rgba(49,50,53, .5);
}

.bestsellers-list_item--weight,
.product-cards_item-weight {
  font-size: 30px;
  position: relative;
  z-index: 300;
}

.bestsellers-list_description,
.product-cards_description {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-white);
  margin:  0;
}


.features_wrapper {
  box-sizing: border-box;
  background-image: url("../img/pattern.jpg");
  background-color: var(--special-beige);
  min-height: 306px;
  padding: 24px 20px;
  border-radius: 16px;
  color: var(--dark-gray);
}

.features h1 {
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 22px;
}

.features-list_item {
  position: relative;
}

.features-list_deccription {
  margin: 0;
  padding: 0 5px 0 55px;
  position: relative;
}

.features-list_item::before {
  content: "";
  width: 50px;
  height: 50px;
  top:-9px;
  position: absolute;
  background-image: url("../img/escimo_icon.svg");
  background-repeat: no-repeat;
}


.feature-2::before {
  background-image: url("../img/cow_icon.svg");
}

.feature-3::before {
  background-image: url("../img/leaf_icon.svg");
}

.feature-4::before {
  background-image: url("../img/temperature_icon.svg");
}

.info_wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  column-gap: 26px;
}

.subscribe-form, .blog {
  min-height: 220px;
  border-radius: 16px;
  color: var(--dark-gray);
  box-sizing: border-box;
}

.blog {
  background-image: url("../img/strawberry_bcg.jpg");
  background-repeat: no-repeat;
  background-color: var(--basic-white);
  padding: 22px 20px;
}

.blog_titel {
  margin: 0 0 0px 0;
  font-weight: 500;
}

.blog_link {
  text-decoration: none;
  color: var(--dark-gray);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.blog_news {
  margin: 0;
  border-bottom: 2px solid var(--dark-gray);
}

.subscribe-form {
  background-image: url("../img/post_pattern_sm.jpg");
  background-color: var(--basic-white);
  padding: 6px;
  display: flex;
  justify-content: center;
}

.subscribe-form_inner {
  background-color: var(--basic-white);
  border-radius: 16px;
  padding: 24px 19px 0px 20px;
  box-sizing: border-box;
}

.subscribe-form_label {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.subscribe-form_descripton {
  margin: 0 0 39px 0;
}


.input-field {
  height: 44px;
  border: 1px solid var(--transparent-gray);
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
  margin-right: 6px;
  font-size: 16px;
  font-weight: 400;
  color: var(--popup-input-txt);
}

.input-field:focus,
.login-input:focus,
.pass-input:focus,
.search-input:focus {
  outline: none;
  border: 1px solid rgba(46,136,228,.52);
}

.subscribe-form_input {
  width: 368px;
}

.subscribe-btn {
  width: 130px;
  display: inline-block;
}

/*========== КАРТА ВАРИАНТ 1 ==========*/

.map-wrapper{

  height: 430px;
  background-color: var(--basic-white);
  position: relative;

  z-index: 1;
}

.map-wrapper iframe {
  border: none;
  width: 100%;
  height: 430px;
}

.contacts-container {
  position: relative;
  z-index: 100;
  background-color: violet;
  display: flex;

}
.contacts_wrapper {
  background-color: var(--basic-white);
  color: var(--dark-gray);
  padding: 32px 25px;
  border-radius: 16px;
  box-sizing: border-box;
  width: 303px;
  height: 306px;
  position: absolute;
  right: 2.3%;
  top: 62px;
}

.contacts_address,
.contacts_phone {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.contacts_address--value {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 0 0 22px 0;
}

.contacts_phone--link {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 0;
  line-height: 28px;
}

.contacts_working-time {
  margin-bottom: 28px;
}

.relation-btn {
  width: 253px;
}



/*========== FOOTER ==========*/



.main-footer {
  padding: 0 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  height: 100px;
  box-sizing: border-box;
}

.social {
  margin-right: 22px;
  padding-top: 7px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 168px;
  display: flex;
  justify-content: space-between;
}

.social-list_link:hover path{
  fill-opacity: 1;
}

.social-list_link:active path {
  fill-opacity: 1;
  stroke-opacity: .7;
}

.aboutus-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 31px;
  row-gap: 8px;
  padding-top: 4px;
}

.aboutus_link,
.copyright_link {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid var(--transparent-white20);
  position: relative;
}

.aboutus_link--provider {
  font-weight: 700;
}

.aboutus_link--provider::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 1px;
  left: -20px;
}

.aboutus_link--provider:hover::before {
  background-image: url("../img/heart_pink.svg");
}

.copyright-logo_wrapper {
  margin-bottom: 5px;
}

.copyright-logo_link:hover path {
  fill: var(--special-lightpink);
}

.copyright_description {
  font-size: 12px;
  margin: 0;
}



/*========== POP UPs ==========*/

/*=====search=====*/

.search_popup {
  position: absolute;
  top: 35px;
  right: 0px;
  display: none;
}

.search_popup-show {
  display: none;
}
.search:hover .search_popup-show,
.search:focus .search_popup-show {
  display: block;
}

.search-form {
  width: 341px;
  height: 84px;
  padding: 20px 15px;
  background-color: var(--popup-window);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 20px 20px 0px rgba(0,0,0,.4);
}

.search-input {
  width: 311px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid var(--popup-input-border);
  padding: 15px;
}

.search-input::placeholder,
.login-input::placeholder,
.pass-input::placeholder {
  font-size: 14px;
  font-weight: 400;
}

/*=====login=====*/

.login-wrapper {
  position: relative;
}

.login_window {
  position: absolute;
  padding: 20px 17px 22px 19px;
  background-color: var(--popup-window);
  border-radius: 4px;
  top: 35px;
  right: 0;
  z-index: 100;
}

.login_window-show {
  display: none;
}

.login-wrapper:hover .login_window-show {
  display: block;
}

.login-input,
.pass-input {
  width: 241px;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid var(--popup-input-border);
  border-radius: 4px;
  padding: 14px 14px;
  margin-bottom: 20px;
}

.login-btn {
  width: 103px;
}

.login-controls_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-controls_link {
  font-size: 13px;
  font-weight: 400;
  color: var(--dark-gray);
  display: block;
  text-decoration: none;
  border-bottom: 1px solid var(--transparent-gray30);
}

.login-controls_link:hover {
  color: var(--special-lightpink);
  border-bottom: 1px solid var(--special-lightpink);
}



/*=====feedback=====*/

.multyplay-layer {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: var(--transparent-gray30);
  z-index: 400;
}

.feedback {
  padding: 20px 25px 27px;
  width: 477px;
  height: 441px;
  box-sizing: border-box;
  background-color: var(--popup-window);
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  z-index: 500;
  display: block;

}

.feedback_show {
  display: none;
}

.multyplay-layer_show {
  display: none;
}

.feedback h4 {
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 24px;
  margin: 0 0 26px 0;
}

.feedeback_close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 4%;
  right: 4%;
  background-color: transparent;
  border: none;
  outline: none;
}

.feedeback_close-btn::before,
.feedeback_close-btn::after {
  content: "";
  width: 3px;
  height: 25px;
  background-color: var(--dark-gray);
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotate(45deg);
}

.feedeback_close-btn::after {
  transform: rotate(-45deg);
}

.feedeback_close-btn:hover::before,
.feedeback_close-btn:hover::after {
  background-color: var(--basic-black);
}

.feedeback_close-btn:active::before,
.feedeback_close-btn:active::after {
  background-color: var(--transparent-gray30);
}

.feedback_input-name {
  width: 267px;
  margin-bottom: 20px;
  font-weight: 700;
}

.feedback_input-name::placeholder {
  font-weight: 400;
}

.feedback-text {
  min-width: 428px;
  min-height: 154px;
  padding: 15px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid var(--popup-input-border);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: var(--popup-input-txt);
  margin-bottom: 20px;
}

.feedback-text:focus {
  outline: none;
  border: 1px solid rgba(46,136,228,.52);
}

.feedback-btn {
  width: 140px;
  margin-left: auto;
}

/*==========cart popup==========*/

.cart-popup {
  list-style: none;
  margin: 0;
  position: absolute;
  width: 540px;
  box-sizing: border-box;
  padding: 20px 15px 20px;
  background-color: var(--popup-window);
  right: 0;
  top: 35px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--dark-gray);
  z-index: 100;
}
.cart-popup_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart-popup_item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;

}

.cart-popup_item:last-child {
  border-bottom: 1px solid var(--popup-input-border);
  padding-bottom: 6px;
}

.cart-popup_item--control {
  padding: 9px 0 9px 6px;
  margin-right: 3px;
  position: relative;

}

.cart-popup_item--preview {
  padding:0 6px;
}

.cart-popup_item--descr,
.cart-popup_item--ratio,
.cart-popup_item--amount {
  padding: 9px 6px;
  text-align: center;
}

.cart-popup_item--descr {
  text-align: left;
  width: 230px;
  margin-right: 5px;
}


.cart-popup_item--ratio {
  margin-right: 15px;
}

.cart-popup_item--price {
  color:var(--neutral-gray);
}

.cart-popup_item--btn {
  display: block;
  padding: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  border: none;
  background-color: transparent;
}

.cart-popup_item--btn::before,
.cart-popup_item--btn::after {
  content: "";
  width: 1px;
  height: 15px;
  background-color: var(--dark-gray);
  position: absolute;
  left: 11px;
  top: 6px;
  transform: rotate(45deg);
}

.cart-popup_item--btn::after {
  transform: rotate(-45deg);
}

.total {
  font-size: 15px;
  font-weight: 700;
  text-align: right;
}

.cart-btn {
  width: 172px;
  margin-left: auto;
}

.cart-popup_show {
  display: none;
}





/*====================CATALOG====================*/

.catalog-wrapper {
  width: 100%;
  background-color: var(--special-green);
}

.main-catalog {
  padding: 0 27px;
  box-sizing: border-box;
}

.breadcrumbs {
  margin: -35px 0 1px 0;
}

.breadcrumbs_list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs_list-item:not(:last-child) {
  margin-right: 23px;
  border-bottom: 1px solid var(--transparent-white20);
  position: relative;
}

.breadcrumbs_list-item:not(:last-child)::after {
  content:"";
  width: 8px;
  height: 8px;
  background-image: url("../img/list_marker.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  right: -17px;
}

.breadcrumbs_list-item:not(:last-child) a:hover {
  color: var(--special-lightpink);
  border-bottom: 1px solid var(--special-lightpink);
}

.breadcrumbs_list-link {
  text-decoration: none;
  font: inherit;
  color: var(--basic-white);
}

h1 {
  display: inline-block;
  font-size: 35px;
  margin: 0px 0px 30px 0px;
}

/*==========SELECTION==========*/


.filters-block {
  margin-bottom: 24px;
}


.filters-block_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  border: none;
  padding: 0;
  margin: 0px 14px 17px 0;
  font-size: 16px;
  font-weight: 500;
}

.filter_title {
  font-size: 14px;
  padding-left: 16px;
  margin-bottom: 4px;
}

.sorting {
  height: 36px;
  width: 196px;
  box-sizing: border-box;
  border: none;
  padding: 0 35px 0 16px;
  font-weight: 500;
  border-radius: 20px;
  background-color: var(--transparent-white20);
  appearance: none;
  color: var(--basic-white);
  background-image: url("../img/arrow_down.svg");
  background-repeat: no-repeat;
  background-position: 92% 50%;
}

.sorting:hover {
  color: var(--dark-gray);
  background-image: url("../img/arrow_down_blk.svg");
}

.sorting option {
  color: var(--dark-gray);
}

.range-filter {
  height: 36px;
  width: 218px;
  border-radius: 20px;
  background-color: var(--transparent-white20);
  padding: 17px 21px;
  box-sizing: border-box;
  position: relative;

}

.price-controls {
  display: flex;
  position: absolute;
  top:-20px;
  left:56px;
}

.price-controls label {
  font-size: 14px;
}

.price {
  font-size: 14px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
  width: 24px;
}

.input_wrapper {
  display: flex;
  align-items: baseline;
}

.scale {
  height: 2px;
  width: 176px;
  background-color: rgba(248,247,244, .5);
}

.bar {
  height: 2px;
  width: 60%;
  background-color: var(--popup-window);
  margin-left: 20px;
}

.toggle {
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 100%;
  background-color: var(--neutral-gray);
  position: absolute;
  top: 8px;
}

.toggle:hover {
  width: 5px;
  height: 5px;
}

.toggle-min {
  left: 16%;
}

.toggle-max {
  right: 30%;
}


.filters-block_wrapper-fat,
.filters-block_wrapper-additive {
  height: 36px;
  width: 425px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--transparent-white20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
}

.filters-block_wrapper-fat {
  padding: 0 16px 0 49px;
}

.filters-block_wrapper-fat li,
.filters-block_wrapper-additive li {
  position: relative;
}

.filters-block_wrapper-fat li:not(:last-child) {
  margin-right: 15px;
}

.filters-block_wrapper-additive {
  width: 711px;
  padding: 0px 19px 0px 49px;
}

.filter-btn {
  height: 36px;
  width: 144px;
  box-sizing: border-box;
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  background-color: var(--transparent-white20);
  color: var(--basic-white);
  margin-top: 20px;
  font-weight: 500;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--basic-white);
  color: var(--dark-gray);
}

.filter-btn:active {
  border: 0;
  background-color: var(--basic-white);
  color: var(--dark-gray);
  box-shadow: inset 0 2px 1px #696969;
}

.label-radio {
  cursor: pointer;
}

.label-radio::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 3px solid rgba(255,255,255,0.8);
  border-radius: 100%;
  position: absolute;
  top:-2px;
  left: -34px;
  display: block;
}

.label-radio::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color:rgba(255,255,255,0.8);
  border-radius: 100%;
  position: absolute;
  top: 5px;
  left: -27px;
  display: block;
}

.fat-input + .label-radio::after {
  display: none;
}

.fat-input:checked + .label-radio::after {
  display: block;
}

.label-checkbox:before,
.label-checkbox:after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  background-repeat: no-repeat;
  left: -35px;
  top: 0;
}

.label-checkbox:before {
  background-image: url("../img/checkbox.svg");
}

.label-checkbox:after {
  background-image: url("../img/checkbox_checked.svg");
  display: none;
}

.input-additive:checked + .label-checkbox:after {
  display: block;
}

.input-additive:checked + .label-checkbox::before {
  display: none;
}



/*==========PRODUCT CARDS==========*/

.product-cards {
  padding: 0;
  margin: 0px 0px 77px 0px;
}


.pages {
  padding-bottom: 29px;
  display: flex;
  border-bottom: 1px solid var(--transparent-white20);
}

.pagination_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  counter-reset: page 0;
  list-style: none;
  margin: 0 16px;
  padding: 0;
  position: relative;
  display: flex;
}

.pagination_item {
  counter-increment: page 0;
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: transparent;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination_item:hover {
  background-color: var(--transparent-white20);
}

.pagination_item:not(:last-child) {
  margin-right: 5px;
}

.pagination_item-link::before {
  counter-increment: page;
  content: counter(page);
}

.pagination_item-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: var(--basic-white);
}


.pagination_item-current {
  background-color: var(--basic-white);
}

.pagination_item-current a {
  color: var(--dark-gray);
}

.page-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}


.page-btn_edge path{
  fill: var(--transparent-white20);
}


